@import 'mixins';

:host {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &.d-block {
    display: block !important;
  }

  &.modal-large-content {
    .modal-dialog {
      max-width: 80%;

      @include respond-below(sm) {
        max-width: 100%;
      }
    }
  }

  &.show {
    .modal-dialog {
      transform: none;
    }
  }

  &.fade {
    transition: opacity 0.15s linear;

    .modal-dialog {
      transition: transform 0.3s ease-out;
      // transform: translate(0, -50px);
    }
  }
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;
}

.modal-dialog-scrollable {
  display: flex; // IE10/11
  max-height: calc(100% - 1rem);

  .modal-content {
    max-height: calc(100vh - 1rem); // IE10/11
    overflow: hidden;
  }

  .modal-header,
  .modal-footer {
    flex-shrink: 0;
  }

  .modal-body {
    overflow-y: auto;
  }
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);

  // Ensure `modal-dialog-centered` extends the full height of the view (IE10/11)
  &::before {
    display: block; // IE10
    height: calc(100vh - 1rem);
    content: "";
  }

  // Ensure `.modal-body` shows scrollbar (IE10/11)
  &.modal-dialog-scrollable {
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .modal-content {
      max-height: none;
    }

    &::before {
      content: none;
    }
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
  // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 0.3rem;
  // Remove focus outline from opened modal
  outline: 0;

  @include respond-below(sm) {
    margin: 0 24px;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {

  // Automatically set modal's width for larger viewports
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);

    .modal-content {
      max-height: calc(100vh - 3.5rem);
    }
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);

    &::before {
      height: calc(100vh - 3.5rem);
    }
  }

  .modal-sm {
    max-width: 380px;
  }
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}
