@import 'mixins';

xm-datepicker-navigation {
  display: flex;
  width: 100%;
  margin-bottom: 0.6rem;
  justify-content: space-between;

  @include themify($themes) {
    background-color: themed('cardHeaderBackgroundPrimary');
    border-bottom: 1px solid themed('borderColorPrimary');
  }
}

.xm-dp {
  &-navigation-chevron {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-left: 0.25em;
    margin-right: 0.15em;
    transform: rotate(-135deg);

    @include themify($themes) {
      border-color: themed('textColorPrimary');
    }
  }

  .right &-navigation-chevron {
    transform: rotate(45deg);
    margin-left: 0.15em;
    margin-right: 0.25em;
  }

  &-arrow {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
    transition: 0.4s background-color ease;

    @include themify($themes) {
      background-color: themed('cardHeaderBackgroundPrimary');
    }

    &:hover {
      @include themify($themes) {
        background-color: themed('cardHeaderBackgroundActive');
      }
    }

    >button {
      cursor: pointer;
    }

    &.left {
      button {
        @include themify($themes) {
          border-right: 1px solid themed('borderColorPrimary');
        }
      }
    }

    &.right {
      justify-content: flex-end;

      button {
        @include themify($themes) {
          border-left: 1px solid themed('borderColorPrimary');
        }
      }
    }

  }

  &-arrow-btn {
    padding: 1rem 1.8rem;
    margin: 0;
    border: none;
    background-color: transparent;
    z-index: 1;

    @include respond-below(xs) {
      display: none;
    }

    &:focus {
      outline: 0;
    }

    // IE workaround, as outline-style: auto doesn't work
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
      &:focus {
        outline-style: solid;
      }
    }
  }

  &-month-name {
    line-height: 2rem;
    text-align: center;
  }

  &-navigation-select {
    display: flex;
    flex: 1 1 9rem;
  }
}
